#profile {
    cursor: pointer;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-modal {
    position: absolute;
    top: 100%; /* fica logo abaixo do ícone */
    right: 0;
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000; /* aumenta prioridade */
    display: none;  /* inicialmente escondido */
}
